html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.area-of-interest {
  display: flex;
}

.card-register {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}    

.checkbox {
  display: flex;
}
