html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: url("./bg.png");

  font-family: sans-serif;  
}

.card-login {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 20%;

  padding-right: 25%;
}

.footer-login button {
  font-size: 18px;
}

#playerUI {
  width: 100%;
  height: 100%;
}

.email-input {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 8px;
}

.email-input input {
  border: 2px solid #dcdc01;
  padding: 8px;
}

.email-input:focus-visible {
  border-color: #dcdc01;
}

.password-input {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 8px;
}

.password-input input {
  border: 2px solid #dcdc01;
  padding: 8px;
}

.password-input:focus-visible {
  border-color: #dcdc01;
}

.button-signin {
  padding: 8px 40px 8px 40px;
  margin-bottom: 8px;
  background: #dcdc01;
  border: 2px solid #dcdc01;
}

.button-signin:hover {
  cursor: pointer;
  background: #dcdc0159;
}

.button-register {
  background: transparent;
  border-color: transparent;
}

.button-register:hover {
  cursor: pointer;
  color: #dcdc01;
}

.button-forget {
  background: transparent;
  border-color: transparent;
}

.button-forget:hover {
  cursor: pointer;
  color: #dcdc01;
}

.divider {
  width: 100%;
  background: #dcdc01;
  height: 2px;

  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-login {
  display: flex;
  gap: 7px;
}

.divider-footer {
  height: 20px;
  width: 2px;
  background: #dcdc01;
}

#root label {
  color: #6b6b6b;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  top: -26px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dcdc01;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#alert {
  color: red;
  font-weight: bold;
}

.side-left-bar {
  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  gap: 10px;
  height: 98%;
}

.top-side-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}

.help-bttn {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 75px;
  height: 75px;
}

.avatar-bttn {
  width: 100px;
  height: 100px;
}

.map-bttn {
  width: 100px;
  height: 100px;
}

.schedule-bttn {
  width: 50px;
  height: 50px;
}

.controls-bttn {
  width: 50px;
  height: 50px;
}

.sound-bttn {
  width: 50px;
  height: 50px;
}

.logout-bttn {
  width: 50px;
  height: 50px;
}

.chat-bttn {
  height: 38px;
  width: 38px;
}

.container-chat {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 400px;
  height: 300px;

  background: #6b6b6b4d;
}

.display-chat {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
  height: 93%;

  overflow-y: scroll;
}

.display-chat p {
  margin: 0px;
  background: green;
  color: white;
  padding: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
}

.input-chat {
  width: 98%;
}
